<div class="position-absolute text-start w-100 h-100 d-flex justify-content-start align-items-center px-5">
    <h1 id="title-name" class="text-light display-1">{{ splitedName }}</h1>
</div>

<div id="titles" style="left: 100%;" class="position-absolute gap-2 text-end h-100 w-100 d-flex flex-column align-items-end justify-content-end px-5">
    <h3 [hidden]="titleUni == undefined" id="title-uni">
        {{titleUni}}
    </h3>
    <div id="line" [hidden]="titleFull == undefined" style="border-bottom: 1px solid whitesmoke;" class="m-0 p-0 w-100"></div>
    <h3 [hidden]="titleFull == undefined" id="title-uni">
        {{titleFull}}
    </h3>
</div>